 
 
 :root {
  --primary-color: #707070;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* BODY STARTS */
body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}
/* BODY STARTS */

/*  BEGIN HEADER */
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  background-image: url('../images/hero-bgthree.png');
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(70, 70, 71, 0.75);
  background-color: var(--primary-color);
  right: 50px;
  bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* NAVIGATION BEGINS */
header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 20px rgb(80, 83, 97);
  text-decoration-line: underline;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
/* NAVIGATION BEGINS */
/* END HEADER */

/* START HERO */
section {
padding: 10px;
}

.hero  {
background-image: url('../images/hero-bgthree.png');
background-size: cover;
justify-content: Center;
flex-wrap: wrap;
align-items: flex-start;
background-attachment: fixed;
background-position: 80%;
padding-bottom: 250px;
position: sticky;
}

.coolq {   
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  font-style: italic;  
}

.coolq h2 {
  font-size: 24px;
  color: var(--secondary-color);
  background-color: var(--primary-color, 0.5);
  text-shadow: 0 0 10px rgba(70, 70, 71, );
  position: absolute;
  right: 50px;
  bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* END HERO */

/* CREATING MAIN WRAPPER */
.wrapper {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 2em;
    Padding: 10px
    }

.wrapper > div {
    background-color: var(--secondary-color);
    padding-right: 1em;
    grid-gap: 1em;
    border-right: 3px solid var(--tertiary-color);
    text-align: right;
}

.wrapper > p {
  font-size: 18px;
}

 /* HEADER TWO */

 .wrapper h2 {
     display:inline-block;
     font-size: 24px;
     text-align: left;
     overflow: hidden;
     }
 /* BREAKING UP WORDS OF H2 */

  /* WORKING ON NESTED FEATURES */

.nested {
  display: grid; 
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(150px, 1fr);
  max-width: 100%;
   }
/* START NESTED ITEM */
.nested-item {
  border: 5px solid var(--secondary);
  grid-column: span 4;
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 200px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}



/* CSS GRID NESTED UP */
.nested-item:first-child {
  grid-column: span 8;
  grid-row: span 2;
}
.nested-item:hover {
background-color: rgba(88, 83, 83, 0.3);
}
.nested-item div {
background-color: var(--secondary);
padding: 8px 10px;
}
.nested-item h3 {
font-size: 1.2rem;
color: var(--secondary-color)
}

.nested-item p {
color: var(--secondary-color);

}

.nested div {
  border: 4px var(--tertiary-color) solid;
  padding-right: 50px;
  background-color: var(--tertiary-color);
  padding: 10px 50px 10px 0px;
}

.nested a {
  border: 4px var(--tertiary-color) solid;
  border-radius: 25px;
  padding-right: 50px;
}

.tt { 
  overflow: hidden;
}
/* WORK NESTED ITEMS BACK GROUND */
.nested-item-1 {
  background-image: url("../bor.png");
  background-size: cover;
  
  }

.nested-item-2 {
  background-image: url("../images/CFORLANDO.png");
  background-size: cover;
  }

.nested-item-3 {
  background-image: url("../images/cfoviedo1.png");
  background-size: cover;
  }

.nested-item-4 {
  background-image: url("../images/Horiseon.png");
  background-size: cover;
  }     

.nested-item-5 {
  background-image: url("../images/pfi1.png");
  background-size: cover;
  }

  /* END OF NESTED GRID */

  /* START OF CONTACT ME NESTED  */
.contact {
    display: flex;
    justify-content:space-around;
}

.contact > div {
  border-bottom: 2px #ccc solid;
  padding: 5px;
  justify-content: stretch;
  align-self: center;
} 
          .box {
              flex: 1;
              text-align: center;
          }

  .contact {
      flex-basis: 20%;
      flex-wrap: wrap;
  }
/* BEGIN FOOTER */
footer {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: end;
  color: va(--tertiary-color);
  font-size: 24px;
  margin: 0;
}


/* MEDIA QUIERY  */
/* 1020 px */

@media screen and (max-width: 1024px) {
  .wrapper > p {
    font-size: 18px;
  }
   .nested-item {
    grid-template-columns: 1fr 1fr;
  }

  .nested-item-1.nested-item {
    grid-column: 1 / -1;
    grid-row: 1;
  }


  .nested-item-3.nested-item {
    grid-column: 1 / -1;
  }

 
  .nested-item-5.nested-item{
    grid-column: 1/ -1;
  }
  
  .nested-item-2.nested-item{
    grid-column: 1/ -1;
  }

  .nested-item-4.nested-item {
    grid-column: 1 / -1;
  
}

}
@media screen and (max-width: 575px) {

  header {
    padding: 40px 35px;
    background-color: var(--tertiary-color);
    background-image: url('../images/hero-bgthree.png');
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: ;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(70, 70, 71, 0.75);
    background-color: var(--primary-color);
    right: 50px;
    bottom: 20px;
    padding: 10px;
    border-radius: 10px;
  }

  header nav ul li a {
    padding: 20px 15px;
    font-weight: lighter;
    font-size: 3.1vw;
    Padding: 10px;
    text-shadow: 0 0 20px rgb(80, 83, 97);
    text-decoration-line: underline;
  }
  

 .wrapper {
grid-template-columns: 1fr; 
grid-gap: 2em;
Padding: 10px;
}

.wrapper > div {
  width: 90%;
  border-bottom: 2px solid var(--tertiary-color);
  border-right: 15px;
  text-align: center;
  padding-right: 15px;
}
  .wrapper h2 {
    font-size: 30px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  .wrapper > p {
    font-size: 16px;
    max-width: 90%;
    text-align: center;
  }

  /* gitting rid of space */

  .nested {
    display: inline;
    row-gap: 15px;
  }

  .nested-item {
   grid-template-columns: 1fr 1fr;
   justify-content: auto;
 }

 .nested-item-1.nested-item {
   grid-column: 1;

 }


 .nested-item-3.nested-item {
   grid-column: 1;
 }


 .nested-item-5.nested-item{
   grid-column: 1;
 }
 
 .nested-item-2.nested-item{
   grid-column: 1;
 }

 .nested-item-4.nested-item {
   grid-column: 1;
 }
 
   .contact {
    display: inline;
    flex-wrap: wrap;
    justify-content: center;

}

.contact > div {
  border-bottom: 0px #ccc solid;
  border-bottom: 2px var(--secondary-color) solid;
  padding: 10px;
  justify-content: stretch;
  align-self: center;
} 
          .box {
              flex: none;
              flex-wrap: wrap;
              text-align: start;
          }

 
}